PORT=4000
REST_EVENTS_URL=http://localhost:4001
REST_CHECKINS_URL=http://localhost:4002
SOAP_WSDL_URL=http://localhost:5000/?wsdl
TELEMETRY_HOST=127.0.0.1
TELEMETRY_UDP_PORT=7001
TELEMETRY_TCP_PORT=7002
GRPC_HOST=localhost
GRPC_PORT=50051
